<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D07D70371F24242500FE25C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07D703F1F24242500FE25C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0ACEED81F05CD5E005C35B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0ACEEE11F05CD5E005C35B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
